<div class="post">
  <h3>
    <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR permalink -->#comment-<!-- TMPL_VAR cid -->"><!-- TMPL_VAR subject --></a>
  </h3>
  <p class="meta">Submitted by <!-- TMPL_IF homepage --><a href="<!-- TMPL_VAR homepage -->"><!-- /TMPL_IF --><!-- TMPL_VAR name --><!-- TMPL_IF homepage --></a><!-- /TMPL_IF --> on <!-- TMPL_VAR post-date --></p>
  <!-- TMPL_VAR comment -->
</div>
