<h2><a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR month --></a></h2><!-- TMPL_LOOP days -->
<div>
  <h4><!-- TMPL_VAR date-string --></h4><!-- TMPL_LOOP posts -->
  <p class="day-links"><!-- TMPL_LOOP links -->
    <a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR title --></a>&nbsp;&nbsp;<!-- /TMPL_LOOP -->
  </p><!-- /TMPL_LOOP -->
</div><!-- /TMPL_LOOP -->
