<h2><a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR year --></a></h2><!-- TMPL_LOOP months -->
<div>
  <h4><a href="<!-- TMPL_VAR month-link -->"><!-- TMPL_VAR month-name --></a></h4>
  <p><!-- TMPL_LOOP day-links -->
    <a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR title --></a>&nbsp;&nbsp;<!-- /TMPL_LOOP -->
  </p>
</div><!-- /TMPL_LOOP -->
