<h2 class="year-title"><a href="./">Categories</a></h2><!-- TMPL_LOOP categories -->
<div class="year-page-month">
  <p class="year-page-month-title">
    <a href="<!-- TMPL_VAR link -->"><b><!-- TMPL_VAR name --></b></a>
    <a href="<!-- TMPL_VAR rss-link -->"><img src="<!-- TMPL_VAR HOME -->/images/xml.png" alt="RSS" width="32" height="16"/></a>
  </p>
  <p class="year-page-day-links">
    <!-- TMPL_VAR description -->
  </p>
</div><!-- /TMPL_LOOP -->
