<div class="comment">
  <h3 class="comment-title">
    <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR permalink -->#comment-<!-- TMPL_VAR cid -->"><!-- TMPL_VAR subject --></a>
  </h3>
  <div class="comment-info">Submitted by <!-- TMPL_IF homepage --><a href="<!-- TMPL_VAR homepage -->"><!-- /TMPL_IF --><!-- TMPL_VAR name --><!-- TMPL_IF homepage --></a><!-- /TMPL_IF --> on <!-- TMPL_VAR post-date --></div>
  <div class="comment-content">
    <!-- TMPL_VAR comment -->
  </div>
</div>
