<!-- TMPL_LOOP posts -->           <h2 class="content-title">
             <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR permalink -->"><!-- TMPL_VAR title --></a>
           </h2>
           <div class="info">Submitted by <!-- TMPL_VAR author --> on <!-- TMPL_VAR post-date --></div>
           <div class="content-item">
             <!-- TMPL_VAR body -->
             <p><!-- TMPL_IF comment-count -->
               <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR permalink -->#comments"><!-- TMPL_VAR comment-count --></a><!-- TMPL_ELSE -->
               <a href="<!-- TMPL_VAR home -->/admin/comment?node=<!-- TMPL_VAR nid -->">Add comment</a><!-- /TMPL_IF -->
               <a href="<!-- TMPL_VAR home -->/admin/edit?node=<!-- TMPL_VAR nid -->">Edit post</a>
               <a href="<!-- TMPL_VAR home -->/admin/?post">Add post</a>
             </p>
           </div>
<!-- TMPL_IF comment-plists -->
           <p class="comments-label">
             <a name="comments">Comments (<!-- TMPL_VAR count-comments -->):</a>
           </p><!-- /TMPL_IF --><!-- TMPL_LOOP comment-plists -->
           <div class="comment">
             <h3 class="comment-title">
               <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR permalink -->#comment-<!-- TMPL_VAR cid -->" name="comment-<!-- TMPL_VAR cid -->"><!-- TMPL_VAR subject --></a>
             </h3>
             <div class="comment-info">Submitted by <!-- TMPL_IF homepage --><a href="<!-- TMPL_VAR homepage -->"><!-- /TMPL_IF --><!-- TMPL_VAR name --><!-- TMPL_IF homepage --></a><!-- /TMPL_IF --> on <!-- TMPL_VAR post-date --></div>
             <div class="comment-content">
               <!-- TMPL_VAR comment -->
               <p><a href="<!-- TMPL_VAR home -->/admin/edit?comment=<!-- TMPL_VAR cid -->">Edit comment</a></p>
             </div>
           </div>
           <!-- /TMPL_LOOP --><!-- TMPL_IF comment-plists -->
           <div class="comment-content">
             <a href="<!-- TMPL_VAR home -->/admin/comment?node=<!-- TMPL_VAR nid -->">Add comment</a>
             <a href="<!-- TMPL_VAR home -->/admin/edit?node=<!-- TMPL_VAR nid -->">Edit post</a>
             <a href="<!-- TMPL_VAR home -->/admin/?post">Add post</a>
           </div><!-- /TMPL_IF --><!-- TMPL_IF recent-posts -->
           <div id="recent-posts">
             <p>
               <b>Previous Posts:</b><br/><!-- TMPL_LOOP recent-posts -->
               <a href="<!-- TMPL_VAR home -->/<!-- TMPL_VAR link -->"><!-- TMPL_VAR title --></a><br/><!-- /TMPL_LOOP -->
             </p>
           </div><!-- /TMPL_IF  --><!-- /TMPL_LOOP -->
