<h2 class="year-title"><a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR year --></a></h2><!-- TMPL_LOOP months -->
<div class="year-page-month">
  <p class="year-page-month-title">
    <a href="<!-- TMPL_VAR month-link -->"><!-- TMPL_VAR month-name --></a>
  </p>
  <p class="year-page-day-links"><!-- TMPL_LOOP day-links -->
    <a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR title --></a>&nbsp;&nbsp;<!-- /TMPL_LOOP -->
  </p>
</div><!-- /TMPL_LOOP -->
