<!-- TMPL_LOOP months -->
<div class="year-page-month">
  <p class="month-title"><!-- TMPL_VAR month-string --></p>
  <p class="day-links"><!-- TMPL_LOOP links -->
    <a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR title --></a><!-- /TMPL_LOOP --><!-- /TMPL_LOOP -->
