<h2 class="content-title"><!-- TMPL_IF comment-num -->Edit Comment #<!-- TMPL_VAR comment-num --><!-- TMPL_ELSE -->Add Comment<!-- /TMPL_IF --></h2><!-- TMPL_IF moderated-p -->
<p>Unless you <a href="admin?add_comment=<!-- TMPL_VAR node-num -->&login=t">login</a>,
your comment won't appear until it has been moderated.</p>
<!-- TMPL_ELSE -->
<br/><!-- /TMPL_IF --><!-- TMPL_IF preview -->
Preview:
<div class="comment-preview">
  <!-- TMPL_VAR preview -->
</div><!-- /TMPL_IF -->
<div class="edit-post"><!-- TMPL_IF errmsg -->
  <div class="errmsg"><!-- TMPL_VAR errmsg --></div><!-- /TMPL_IF -->
  <form action="admin/submit_comment" method="post"><!-- TMPL_IF comment-num -->
    <input type="hidden" name="comment-num" value="<!-- TMPL_VAR comment-num -->"/><!-- /TMPL_IF --><!-- TMPL_IF node-num -->
    <input type="hidden" name="node-num" value="<!-- TMPL_VAR node-num -->"/><!-- /TMPL_IF -->
    <fieldset>
      <table>
        <tr>
          <td><span class="label">Post:</span></td>
          <td><a href="<!-- TMPL_VAR post-alias -->"><!-- TMPL_VAR post-title --></a></td>
        <tr>
          <td><span class="label">Name:</span> <span class="form-required">*</span></td>
          <td><!-- TMPL_IF edit-name-p --><input type="text" name="author" size="50" value="<!-- TMPL_VAR author -->"/><!-- TMPL_ELSE --><!-- TMPL_VAR author --><!-- /TMPL_IF --></td>
        </tr><tr>
          <td><span class="label">Email:</span></td>
          <td><!-- TMPL_IF edit-name-p --><input type="text" name="email" size="50" value="<!-- TMPL_VAR email -->"/><!-- TMPL_ELSE --><!-- TMPL_VAR email --><!-- /TMPL_IF --></td>
        </tr><tr>
          <td><span class="label">Homepage:</span></td>
          <td><input type="text" name="homepage" size="50" value="<!-- TMPL_VAR homepage -->"/></td>
        </tr><tr>
          <td><span class="label">Subject:</span></td>
          <td><input type="text" name="title" size="50" value="<!-- TMPL_VAR title -->"/></td>
        </tr><!-- TMPL_IF show-published-p -->
        <tr>
          <td></td>
          <td><input type="checkbox" name="published"<!-- TMPL_IF published --> checked="checked"<!-- /TMPL_IF -->/> Published<br/>
        </tr><!-- TMPL_ELSE --><!-- TMPL_IF published -->
        <input type="hidden" name="published" value="on"><!-- /TMPL_IF --><!-- /TMPL_IF -->
      </table>
    </fieldset>
    <br/>
    <span class="label">Comment:</span> <span class="form-required">*</span><br/>
    <textarea wrap="virtual" cols="80" rows="20" name="body"><!-- TMPL_VAR body --></textarea>
    <br/><!-- TMPL_IF show-input-format -->
    <fieldset>
      <legend>Input format</legend>
      <input type="radio" name="input-format" value="filtered-html"<!-- TMPL_IF filtered-html --> checked="checked"<!-- /TMPL_IF -->/> Filtered HTML<br/>
      <div class="format-doc">
        <ul>
          <li>convert line and paragraph breaks to &lt;br&gt; & &lt;p&gt;</li>
          <li>convert URLs and email address to links</li>
          <li>allowed HTML tags: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;i&gt; &lt;b&gt; &lt;u&gt; &lt;blockquote&gt; &lt;pre&gt;</li>
        </ul>
      </div>
      <input type="radio" name="input-format" value="full-html"<!-- TMPL_IF full-html --> checked="checked"<!-- /TMPL_IF -->/> Full HTML<br/>
      <div class="format-doc">
        <ul>
          <li>convert line and paragraph breaks to &lt;br&gt; & &lt;p&gt;</li>
          <li>convert URLs and email address to links</li>
        </ul>
      </div>
      <input type="radio" name="input-format" value="raw-html"<!-- TMPL_IF raw-html --> checked="checked"<!-- /TMPL_IF -->/> Raw HTML<br/>
    </fieldset><!-- TMPL_ELSE -->
    <fieldset>
      <legend>Filtered HTML</legend>
      <div class="format-doc">
        <ul>
          <li>convert line and paragraph breaks to &lt;br&gt; & &lt;p&gt;</li>
          <li>convert URLs and email address to links</li>
          <li>allowed HTML tags: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;i&gt; &lt;b&gt; &lt;u&gt; &lt;blockquote&gt; &lt;pre&gt;</li>
        </ul>
      </div>
    </fieldset><!-- /TMPL_IF --><!-- TMPL_IF captcha-hidden --><!-- TMPL_IF captcha-query -->
    <fieldset>
      <legend>Captcha</legend>
      <!-- TMPL_VAR captcha-explanation --><br/>
      <!-- TMPL_VAR captcha-query -->
      <input type="text" name="captcha-response" size="<!-- TMPL_VAR captcha-response-size -->" value="<!-- TMPL_VAR captcha-response -->" autocomplete="off"/>
    </fieldset><!-- TMPL_ELSE -->
    <input type="hidden" name="captcha-response" value="<!-- TMPL_VAR captcha-response -->"/><!-- /TMPL_IF -->
    <input type="hidden" name="captcha-hidden" value="<!-- TMPL_VAR captcha-hidden -->"/><!-- /TMPL_IF -->
    <p>I won't publish your email address. Include it if you want me to be able
       to contact you.</p>
    <p>
    <input type="submit" name="preview" value="Preview">
    <input type="submit" name="submit" value="Submit"><!-- TMPL_IF node-num -->
    <input type="submit" name="delete" value="Delete"><!-- /TMPL_IF -->
    </p>
  </form>
</div>
