<h2 class="content-title">Forgot Password</h2>
<div class="forgotpassword">
  <p>Enter either your user name or email below<!-- TMPL_IF captcha-query -->, answer the captcha question,<!-- /TMPL_IF -->
    and click "Submit".</p>
  <p>An email will be sent to you.
    Click on the link in the email to change your password.</p><!-- TMPL_IF errmsg -->
  <div class="errmsg"><!-- TMPL_VAR errmsg --></div><!-- /TMPL_IF -->
  <form action="admin/forgotpassword" method="post">
    <table>
      <tr>
        <th>User name:</th>
        <td><input type="text" name="username" width="20" value="<!-- TMPL_VAR username -->"/></td>
      </tr><tr>
        <th>Email:</th>
        <td><input type="text" name="email" size="40" value="<!-- TMPL_VAR email -->"/></td>
      </tr>
    </table><!-- TMPL_IF captcha-hidden --><!-- TMPL_IF captcha-query -->
    <fieldset>
      <legend>Captcha</legend>
      <!-- TMPL_VAR captcha-explanation --><br/>
      <!-- TMPL_VAR captcha-query -->
      <input type="text" name="captcha-response" size="<!-- TMPL_VAR captcha-response-size -->" value="<!-- TMPL_VAR captcha-response -->" autocomplete="off"/>
    </fieldset><!-- TMPL_ELSE -->
    <input type="hidden" name="captcha-response" value="<!-- TMPL_VAR captcha-response -->"/><!-- /TMPL_IF -->
    <input type="hidden" name="captcha-hidden" value="<!-- TMPL_VAR captcha-hidden -->"/><!-- /TMPL_IF -->
    <p>
      <input type="submit" name="submit" value="Submit">
    </p>
  </form>
</div>
