<div class="login">
  <h2>Please log in</h2><!-- TMPL_IF errmsg -->
  <div class="errmsg"><!-- TMPL_VAR errmsg --></div><!-- /TMPL_IF -->
  <form action="admin/login" method="post"><!-- TMPL_LOOP hidden-values -->
    <input type="hidden" name="<!-- TMPL_VAR name -->" value="<!-- TMPL_VAR value -->"/><!-- /TMPL_LOOP -->
    <table>
      <tr>
        <th>User name:</th>
        <td><input type="text" name="username" width="20" value="<!-- TMPL_VAR username -->"/></td>
      </tr><tr>
        <th>Password:</th>
        <td><input type="password" name="password" width="20"/></td>
      </tr><tr>
        <td colspan="2"><input type="submit" name="submit" value="Login"/></td>
      </tr>
    </table>
  </form>
  <p><a href="admin/forgotpassword">Forgot password</a><br/>
  <a href="admin/register">Register a new account</a></p>
</div>
