<h2 class="content-title">Moderate Users</h2>
<br/>
<form action="admin/submit_users" method="post">
  <table class="prettytable">
    <tr>
      <th>X</th><th>UID</th><th>Name</th><th>Email</th><th>Homepage</th>
    </tr><!-- TMPL_LOOP users -->
    <tr>
      <td><input type="checkbox" name="<!-- TMPL_VAR check-name -->" value="x"<!-- TMPL_IF checked --> checked="checked"<!-- /TMPL_IF -->/></td>
      <td><a href="admin/profile?uid=<!-- TMPL_VAR uid -->"><!-- TMPL_VAR uid --></a></td>
      <td><a href="admin/profile?uid=<!-- TMPL_VAR uid -->"><!-- TMPL_VAR name --></a></td>
      <td><a href="mailto:<!-- TMPL_VAR email -->"><!-- TMPL_VAR email --></a></td>
      <td><!-- TMPL_IF homepage -->
        <a href="<!-- TMPL_VAR homepage -->"><!-- TMPL_VAR homepage --></a><!-- TMPL_ELSE -->
        &nbsp;<!-- /TMPL_IF  -->
      </td>
    </tr><!-- /TMPL_LOOP -->
  </table>
  <input type="submit" name="refresh" value="Refresh"/>
  <input type="submit" name="submit" value="Submit"/>
</form>
