<h2 class="content-title">Profile Updated</h2>
<div class="profile-updated"><!-- TMPL_IF newpass-p -->
  <p><!-- TMPL_VAR username --> password has been changed.</p><!-- /TMPL_IF --><!-- TMPL_IF new-homepage -->
  <p><!-- TMPL_VAR username --> homepage is now <a href="<!-- TMPL_VAR new-homepage -->"><!-- TMPL_VAR new-homepage --></a></p><!-- /TMPL_IF  --><!-- TMPL_IF new-about-p -->
  <p><!-- TMPL_VAR username --> about paragraph has been changed.</p><!-- /TMPL_IF --><!-- TMPL_IF new-email-p -->
  <p>An email has been sent to <!-- TMPL_VAR new-email -->. Click on the link in that email to complete the email change.</p><!-- /TMPL_IF --><!-- TMPL_IF email-changed-p -->
  <p><!-- TMPL_VAR username --> email address has been changed to <!-- TMPL_VAR new-email --><!-- /TMPL_IF --><!-- TMPL_IF deleted-p -->
  <p><!-- TMPL_VAR username --> account has been deleted.</p><!-- /TMPL_IF -->
</div>
