<h2 class="content-title">Settings</h2>
<p><!-- TMPL_IF admin-p -->
<a href="admin/moderate">Comment Moderation</a><br/>
<a href="admin/threads">Threads</a><br/><!-- /TMPL_IF -->
<a href="admin/add_post">Add Post</a><br/>
</p>
<form action="admin/settings" method="post">
  <input type="submit" name="logout" value="Logout"/>
</form>
