	<div class="post">
          <h2>
             <a href="<!-- TMPL_VAR permalink -->"><!-- TMPL_VAR title --></a>
          </h2>
          <p class="date">
            Rendered on <!-- TMPL_VAR post-date -->
            <span class="meta">
              &nbsp;<!-- TMPL_IF prev-url --><a href="<!-- TMPL_VAR prev-url -->" title="newer posts">newer</a><!-- TMPL_ELSE -->newer<!-- /TMPL_IF -->
              <a href="./" title="index">latest</a>
              <!-- TMPL_IF next-url --><a href="<!-- TMPL_VAR next-url -->" title="older posts">older</a><!-- TMPL_ELSE -->older<!-- /TMPL_IF -->&nbsp;
            </span><!-- TMPL_IF next-update --><br/>
             Next udpate: <!-- TMPL_VAR next-update --><!-- /TMPL_IF -->
          </p>
          <!-- TMPL_VAR body -->
        </div>

<!-- TMPL_LOOP posts -->
	<div class="post<!-- TMPL_IF oddp --> alt<!-- /TMPL_IF -->">
          <h2>
             <a href="<!-- TMPL_VAR permalink -->"><!-- TMPL_VAR title --></a>
          </h2>
          <p class="date">
            via <a href=" <!-- TMPL_VAR site-link -->"><!-- TMPL_VAR site-name --></a> by <!-- TMPL_VAR author --> on <!-- TMPL_VAR post-date -->
            <span class="meta">
              <a href="<!-- TMPL_VAR feed-link -->"><img src="<!-- TMPL_VAR home -->/images/xml.png"/></a>
            </span>
          </p>
          <!-- TMPL_VAR body -->
        </div>
<!-- /TMPL_LOOP -->

	<div class="post">
          <p>
            &nbsp;<!-- TMPL_IF prev-url --><a href="<!-- TMPL_VAR prev-url -->" title="newer posts">newer</a><!-- TMPL_ELSE -->newer<!-- /TMPL_IF -->
            <a href="./" title="index">latest</a>
            <!-- TMPL_IF next-url --><a href="<!-- TMPL_VAR next-url -->" title="older posts">older</a><!-- TMPL_ELSE -->older<!-- /TMPL_IF -->&nbsp;
          </p>
          <!-- TMPL_VAR body -->
        </div>
