/* Layout from http://almirante.users.sourceforge.net/2-column-css-layout.htm */

a, a:link { color: #333; }
a:hover, a:focus { color: #03f; }
a:active { color: #606; }

img {
   border: none;
}
blockquote {
   background-color: #f0f0f0;
   border: solid 1px #ccc;
   margin-left: 20px;
   margin-right: 20px;
   padding: 10px;
}
#page {
   width: 100%;
   background-color: #fff;
   float: left;
}
#header {
   width: 100%;
   background-color: #fff;
   border: solid 1px #eee;
   border-bottom: none;
   float: left;
}
#header-content {
   width: 100%;
}
#search {
   float: right;
   margin: 0;
   padding: 0;
}
.site-name {
   padding: 0 0 0 10px;
}
#site-name {
   font-size: 2.0em;
   margin: 0;
}
#site-slogan {
   color: #999;
   font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
   display: inline;
   font-weight: bold;
   font-size: 1.0em;
   margin: 0;
}
#footer {
   width: 100%;
   background-color: #fff;
   border: solid 1px #eee;
   border-top: none;
   float: left;
   margin-top: 5px;
   padding-bottom: 5px;
}
#footer-content {
   width: 100%;
}
#container {
   width: 100%;
   /*background-color: #fcfcfc;*/
   border: solid 1px #eee;
   border-top: none;
   border-bottom: none;
   float: left;
}

#left-sidebar {
   width: 200px;
   float: left;
   margin-top: 5px;
   padding-bottom: 20px;
}
#main-content {
   width: 100%;
   margin-right: -100%;
   float: left;
}

#content-container {
   margin-left: 210px;
   padding-left: 20px;
   margin-right: 10px;
   font-family: Trebuchet, Verdana, Helvetica, Arial, Lucida, sans-serif;
}

.content-title {
   margin-bottom: 0;
   margin-right: 5px;
   background-color: #ccf;
   font-size: 1.3em;
   font-weight: bold;
   padding-left: 10px;
   font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
.content-title a {
   text-decoration: none;
}

.info {
   margin-right: 5px;
   color: #999;
   padding-left: 10px;
   padding-top: 0;
   font-size: 0.9em;
}

.unpublished {
   color: red;
   font-weight: bold;
}

.content-item {
   margin-right: 5px;
   padding-left: 10px;
   line-height: 130%;
}
.content-item a:visited {
   color: #777;
}

.categories {
   float: right;
}
.categories a {
   text-decoration: none;
}

.comments-label {
   padding-left: 10px;
   font-weight: bold;
}

.comment {
   margin: 10px 20px 10px 20px;
   padding-left: 10px;
   padding-right: 10px;
   border: solid 1px #ccc;
   font-size: 90%;
}

.comment-title {
   margin-bottom: 0;
}
.comment-title a {
   text-decoration: none;
}
.comment-info {
   margin-right: 5px;
   color: #999;
   padding-top: 0;
   font-size: 0.9em;
}
.comment-content {
   margin-right: 5px;
   padding-left: 10px;
}
#recent-posts {
   margin-right: 5px;
   padding-left: 10px;
}

.month-title {
   margin-bottom: 1em;
   margin-right: 5px;
   background-color: #ccf;
   font-size: 1.3em;
   font-weight: bold;
   padding-left: 10px;
   font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
.month-title a {
   text-decoration: none;
}
.month-page-day {
   margin-left: 10px;
   margin-right: 20px;
}
.day-title {
   font-weight: bold;
   margin-bottom: 0;
}
.day-links {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 2em ;
   text-indent: -1em ;
}
.day-links a {
   text-decoration: none;
}

.year-title {
   margin-bottom: 1em;
   margin-right: 5px;
   background-color: #ccf;
   font-size: 1.3em;
   font-weight: bold;
   padding-left: 10px;
   font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
.year-title a {
   text-decoration: none;
}
.year-page-month {
   margin-left: 10px;
   margin-right: 20px;
}
.year-page-month-title {
   font-weight: bold;
   margin-bottom: 0;
}
.year-page-day-links {
   margin-top: 0;
   padding-left: 1em ;
}
.year-page-day-links a {
   text-decoration: none;
}

#sidebar-table {
}
#sidebar-column {
   width: 100%;
}
.sidebar-content {
   /* My favorite pink */
   background-color: #fff8f8;
   float: left;
   color: #555;
   width: 100%;
   border: solid 1px #ccc;
   margin: 2px 0px 2px 2px;
   padding: 2px 10px 2px 10px;
   font-family: Trebuchet, Verdana, Helvetica, Arial, Lucida, sans-serif;
   line-height: 110%;
}
.sidebar-content hr {
  width: 70%;
}
.sidebar-menu ul {
   list-style-type: square;
}
.sidebar-menu a {
   text-decoration: none;
}
.sidebar-menu {
   margin-left: 10px;
   margin-top: 0;
   margin-bottom: 0px;
   font-size: 90%;
}
.sidebar-banners {
   text-align: center;
}
.sidebar-banner {
   margin-top: 3px;
   margin-bottom: 3px;
}
.bordered {
   padding: 5px;
   border: 1px solid #bbb;
}
.quotes {
   font-size: 80%;
}
.recent-comment {
   margin-bottom: 3px;
}
.errmsg {
   color: red;
}

.label {
   font-weight: bold;
}

.form-required {
   color: red;
}

.center p {
   text-align: center;
}

fieldset {
  border: 1px solid black;
}

.preview {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  border: solid 1px #ccc;
}

.comment-preview {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.format-doc {
  font-size: 80%;
}

.format-doc ul {
   margin-top: 0;
   margin-bottom: 0;
}

table.prettytable {
  margin: 0em 0.5em 0.5em 0.5em;
  background: whitesmoke;
  border-collapse: collapse;
}
table.prettytable th, table.prettytable td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.prettytable th {
  background: gainsboro;
  text-align: center;
}
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
}
table.innertable th, table.innertable td {
  border: 0;
}
.rss-image {
  float: right;
  clear: right;
  margin-left: 3px;
  max-height: 40px;
}
